<link rel="stylesheet" href="container.css">
<section class="wrapper">
    <div class="container">
        <div class="content">
            <div class="content-item">
                <img src="img/rickmaojigi.png" class="image">
            </div>
            <div class="content-item">
                <div class="text">
                    <h2 class="heading">TOP</h2>
                    <p>AAAAAAAAAA</p>
                </div>
            </div>
        </div>
    </div>
</section>
